section {
  padding: 6rem 0;
}
.gray-section {
  background: #f7fafc;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2 {
  font-weight: 600;
}
p {
  line-height: 1.7;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li:before {
  content: '✅';
}
input {
  border: 1px solid #333;
  border-radius: 7px;
  background: transparent;
  padding: 15px;
  margin-right: 25px;
}
.btn-primary {
  border: 1px solid #ff873f;
  padding:15px;
  border-radius: 7px;
  background: #ff873f;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999;
}
